<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.ssi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gunung.DaftarGunung"
            android:label="Daftar Gunung">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".Gunung.DaftarGunungDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Gunung.DaftarGunung"/>
        </activity>
        <activity
            android:name=".PersiapanPribadi.PersiapanPribadi"
            android:label="Daftar Persiapan Pribadi">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".PersiapanKelompok.PersiapanKelompok"
            android:label="Daftar Persiapan Kelompok">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>